<div class="page page-flock" data-ng-controller="FlockCtrl">
    <div class="row">
        <div class="col-md-12">
    <!-- Media object -->
            <div class="panel panel-default" ng-repeat="bird in birds">
                <div class="panel-heading"><strong><span class="ti-twitter"></span>{{bird.name}}</strong></div>
                <div class="panel-body">
                    <div class="media">
                        <a class="pull-left" href="javascript:;">
                            <img alt="" ng-src="http://{{apiHost}}/static/media/{{bird.avatar}}" class="img-rounded img64_64">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{bird.breed_name}}</h4>
                           Eggs: {{bird.egg_count}}  Age: {{bird.age}} Eggs/Day {{bird.eggs_per_day}}  Fav Site: {{bird.favorite_site}} Last Egg: {{bird.last_egg}}
                            <!--<div class="col-xs-4">-->
                                <!--<section class="panel panel-box info-box">-->
                                    <!--<div class="panel-left panel-item bg-success">-->
                                        <!--<i class="ion-egg text-large stat-icon"></i>-->
                                    <!--</div>-->
                                    <!--<div class="panel-right panel-item bg-reverse">-->
                                        <!--<p class="size-h1 no-margin">{{bird.egg_count}}</p>-->
                                        <!--<p class="text-muted no-margin"><span data-i18n="Eggs"></span></p>-->
                                    <!--</div>-->
                                <!--</section>-->
                            <!--</div>-->


                        </div>
                    </div>


                </div>
            </div>
            <!-- end Media object -->
        </div>
    </div>
</div>
