<div class="page page-flock" data-ng-controller="FlockCtrl">
    <div class="row">
        <div class="col-md-12">
    <!-- Media object -->
            <div class="panel panel-default" ng-repeat="bird in birds">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>{{bird.name}}</strong></div>
                <div class="panel-body">
                    <div class="media">
                        <a class="pull-left" href="javascript:;">
                            <img alt="" ng-src="http://{{apiHost}}/static/media/{{bird.avatar}}" class="img-rounded img64_64">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{bird.breed_name}}</h4>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce cfelis in faucibus.</p>
                        </div>
                    </div>


                </div>
            </div>
            <!-- end Media object -->
        </div>
    </div>
</div>
