<div class="page page-prodcharts" data-ng-controller="ProdChartCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Production Chart</h3>
        </div>
        <div class="panel-body">
            <nvd3 options="prodOptions" data="prodData"></nvd3>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Average Weight</h3>
        </div>
        <div class="panel-body">
            <div data-flot-chart
                 data-data="line1.data"
                 data-options="line1.options"
                 style="width: 100%; height: 300px;"
                 ></div>

        </div>
    </div>

</div>
