<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- Stats -->
    <div class="row text-center">
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-success">
                    <span class="ion-egg"></span>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{flock.egg_count}}<span class="size-h4"></span></p>
                    <p class="text-muted"><span data-i18n="Eggs"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
                    <i class="ti-twitter"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{flock.bird_count}}<span class="size-h4"></span></p>
                    <p class="text-muted"><span data-i18n="Birds"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-warning">
                    <i class="ion-speedometer"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{flock.avg_weight}}</p>
                    <p class="text-muted"><span data-i18n="Avg. Grams"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-danger">
                    <i class="ion-calendar"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{flock.days_laying}}</p>
                    <p class="text-muted"><span data-i18n="Days"></span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end stats -->
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sites</h3>
                </div>
                <div class="panel-body">
                    <nvd3 options="pieOptions" data="sitesData"></nvd3>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Eggs</h3>
                </div>
                <div class="panel-body">
                    <nvd3 options="pieOptions" data="eggsData"></nvd3>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Grams</h3>
                </div>
                <div class="panel-body">
                    <nvd3 options="pieOptions" data="gramsData"></nvd3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div easypiechart options="percentDay.options" percent="percentDay.percent" class="easypiechart easypiechart-sm">
                        <span class="pie-percent" ng-bind="flock.percent_day"></span>
                    </div>
                    <p class="text-center text-muted">Last Day</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div easypiechart options="percentWeek.options" percent="percentWeek.percent" class="easypiechart easypiechart-sm">
                        <span class="pie-percent" ng-bind="flock.percent_week"></span>
                    </div>
                    <p class="text-center text-muted">Last Week</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div easypiechart options="percentMonth.options" percent="percentMonth.percent" class="easypiechart easypiechart-sm">
                        <span class="pie-percent" ng-bind="flock.percent_month"></span>
                    </div>
                    <p class="text-center text-muted">Last Month</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div easypiechart options="percentQuarter.options" percent="percentQuarter.percent" class="easypiechart easypiechart-sm">
                        <span class="pie-percent" ng-bind="flock.percent_quarter"></span>
                    </div>
                    <p class="text-center text-muted">Last Quarter</p>
                </div>
            </div>
        </div>

    </div>



    <div class="panel panel-default" data-ng-controller="flotChartCtrl">
        <div class="panel-body">
            <div data-flot-chart-realtime
                 data-type="realtime"
                 style="width: 100%; height: 350px;"
                 ></div>
        </div>
    </div>

</div>
  